:root {
	--fontFamily-sans:
		ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
		'Segoe UI Symbol', 'Noto Color Emoji';
	--fontFamily-mono:
		ui-monospace, SFMono-Regular, 'SF Mono', Menlo, Consolas, monospace;
}

:root {
	font-family: var(--fontFamily-sans);
}
